Options +Indexes

RewriteEngine on

# Avoid redirect loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule ^ - [L]

# Paths under www.khronos.org/registry/OpenGL are being redirected relative to that path
RewriteBase /registry/OpenGL/

# Periods in filenames are not escaped in the regular expressions below.
# That just means nonexistent URLs will get remapped, too, which is OK.

# GL extension spec redirections
# Redirect specs/<vendor>/<extension> -> extensions/<vendor>/<vendor>_extension
# There are a few cases where the rest of the file was renamed too, not
# dealt with at present.

# Example: specs/EXT/texture.txt -> extensions/EXT/EXT_texture.txt
RewriteRule ^specs/([A-Z0-9]+)/([a-z].*\.txt) extensions/$1/$1_$2 [L,R=301]

# ES spec redirections.

# Redirect specs/#.#/... -> specs/es/#.#/...
# Redirect specs with release number to specs without

# Specs with release numbers
# Example: specs/2.0/es_cm_spec_2.0.23.pdf -> specs/es/2.0/es_cm_spec_2.0.pdf
# Example: specs/3.0/GLSL_ES_Specification_3.00.3.pdf -> specs/es/3.0/GLSL_ES_Specification_3.00.pdf
RewriteRule ^specs/([23].0)/((GLSL|es)_.*[0-9].[0-9]+)(.[0-9]+).pdf specs/es/$1/$2.pdf [L,R=301]

# Specs without release numbers
# Example: specs/3.1/es_spec_3.1.pdf -> specs/es/3.1/es_spec_3.1.pdf
RewriteRule ^specs/([123].[012])/((opengles|GLSL|es).*pdf) specs/es/$1/$2 [L,R=301]

# GL spec redirections
# Redirect doc/... -> specs/gl/...
# Redirect specs with release number to specs without

# GLSL specs with release numbers
# Example: doc/GLSLangSpec.Full.1.10.59.pdf -> specs/GL/GLSLangSpec.1.10.pdf
RewriteRule ^doc/GLSLangSpec(.Full|).([1-4].[1-5]0)(.[0-9]+|)(.withchanges|.clean|).pdf specs/gl/GLSLangSpec.$2.pdf [L,R=301]

# GL specs with release numbers

# Example: doc/glspec20.20041022.pdf -> specs/gl/glspec20.pdf
# Example: doc/glspec31undep.20090324.pdf -> specs/gl/glspec31undep.pdf
RewriteRule ^doc/glspec([23][01])(undep|)\.([0-9]+|).pdf specs/gl/glspec$1$2.pdf [L,R=301]

# Example: doc/glspec43.core.20130214.pdf -> specs/gl/glspec43.core.pdf
RewriteRule ^doc/glspec([34][0-5]).(compatibility|core)(.[0-9]+|).pdf specs/gl/glspec$1.$2.pdf [L,R=301]

# Everything else under doc/
RewriteRule ^doc/(.*) specs/gl/$1 [L,R=301]
